<form action="/dbEkle" method="post" enctype="application/x-www-form-urlencoded">
    <h1>Urunadi</h1>
    <input name="urunadi">
    <h1>Barcode No</h1>
    <input name="barcode_number">
    <h1>Fiyat</h1>
    <input name="fiyat">
    <button type="submit">Ekle</button>
</form>